/*General Styling*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
}

/*Header*/

.header {

     width: 100%;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
     position: relative;
     background-image:linear-gradient(rgba(238, 130,238,0.2), rgba(148,0,211,0.2)), url("../pustimages/3dUniversity.webp");


}
/*Subheader*/

.subheader{
    
    min-height: 50vh;
    width: 100%;
    background-image:linear-gradient(rgba(238, 130,238,0.2), rgba(148,0,211,0.2)), url("../pustimages/3dUniversity.webp");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: red;
    position: relative;   
    background-color: purple;
}


.subheader h1{
    
    color: peachpuff;
}


.logo-container{
    
   display: flex; 
   align-items: center; 
   text-decoration: none; 
}


.logo{
    
    width: 70px;
    height:auto;
    mix-blend-mode: darken;
}

.logo-text{
    
   font-size: 20px; 
   font-weight: bold;   
   color: purple;  

}


/*Navigation Bar*/

nav{
   
    display: flex;
    padding:2% 6% ;
    justify-content: space-between;
    align-items: center;

}

nav ul li{
    list-style: none;
    padding: 8px 12px;
    display: inline-block;
    position: relative;
  

}

nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 2px;
    background-color: rgb(181, 52, 52);
    margin: auto;
    display: block;
    transition: 0.5s;
     
}

nav ul li a:hover::after{
    width: 100%;
}

/*TextBox*/

.textbox{
   
    text-align: center;
    color : white;
    position: absolute;
    transform: translate(-50%, -50%);   
    left: 50%;
    top: 60%;    
    width: 90%; 

}

.textbox h1{
    
    font-size: 2em;
    color: peachpuff;
}

.textbox p{
    font-size: 14px;
    margin: 10px 0 40px;
    color: white;
}

/*Button*/

.btn{

   display: inline-block;
   justify-content: center; 
    color: black;
    border: 3px solid black;
    padding: 12px 34px;
    cursor: pointer;
    text-decoration: none;
    background: transparent;
    font-size: 13px;
    font-weight: bold;
    position: relative;
}
 

.btn:hover{
    background-color: #bd4040;
    color: purple;
    border: 3px solid rgb(248, 246, 246);
    transition: 1s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/*Red Button*/

.redbtn{

  border: 3px solid;
  background: transparent;
  color: black;
  font-weight: bold;
  justify-content: center;


}
    
.redbtn: hover{
    
   color: red; 
    
    
}


/*Hide and Show Menu Icons*/

.fa-solid.fa-square-xmark{
    display: none;

}

.fa-solid.fa-bars{
    display: none;
}


/*Row*/

.row{
    
   display: flex; 
   justify-content: space-around;
   margin-top: 5%; 
   flex-wrap: wrap;

}

/*Courses*/

.courses{
   
   padding-top: 60px;
   width: 60%; 
   margin: auto; 
   text-align: center; 
}

.courses h1{
    
  color: purple;

}

.courses p{
    
    font-size: 16px;
    
}

.course-item{
    
  margin-bottom: 10px;


}

.course-btn{
    
 background-color: purple;    
 border: none;   
 color: black;   
 font-size: 18px;   
 font-weight: bold;
 width: 100%;   
 padding: 15px;    
 text-align: left;
 cursor: pointer;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: background-color 0.3s;
 position: relative;
 border-radius: 15px;

}



.course-btn: hover{
    
   background-color: #f4f4f4;
    
    
}

.course-btn::after{
    
    content: "▼";
    font-size: 18px;
    margin-left: auto;
}

.course-btn.active::after{
    
    content: "▲";
}



.course-list{
    
display: none;
padding: 10px;
background: #f9f9f9; 
border: 3px solid purple;


}

.course-list p{
   
    font-size: 16px;
    color: purple;
    line-height: 1.5; 
    margin: 10px 0;
}


/*Campus*/

.campus{
    
   width: 80%; 
   text-align: center; 
   margin: auto; 
   padding: 50px;
}


.campusCol{
    
    flex-basis: 32%;
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative; 
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    
}

.campus h1{
    
    color: purple;

}


.campusCol img{
 
   width: 100%; 
   cursor: pointer;
   display:block;
}

.base{
  
  background: transparent;    
  width: 100%;;  
  position: absolute;
  bottom: 0px;
  left: 0;
  top: 25px;
  height: 100%;
  transition: 0.5s; 

}

.base h3{
    
   width: 100%; 
   font-weight: 500; 
   color: black;
   font-size: 20px; 
   bottom: 0px;
   left: 50%;
   transform: translateX(-50%)
   position: absolute;
   opacity: 0.8;
   transition: 0.8s;


}

.base: hover h3{
    
  bottom: 49%;  
  opacity: 1%;  
  font-weight: bold;
}

/*Facilities*/

.facilities{
    
   width: 80%; 
   margin: auto;  
   text-align: center;
   padding-top: 100px;  
}

.facilities h1{
    
    color: purple;
}



.facilitiesCol{

    
   flex-basis: 31%;  
   border-radius: 10px; 
   margin-bottom: 5%;  
   text-align: left; 
 }


.facilitiesCol img{
    
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease,
    box-shadow 0.3s ease, filter 0.3s ease;

}

.facilitiesCol p{
    
    padding: 0;
}

.facilitiesCol h3{
    
    margin-top: 16px; 
    margin-bottom: 15px; 
    text-align: center;
    color: black;
}

/*Testimonials*/

.testimonials{
    
   width: 60%; 
   text-align: center; 
   margin: auto; 
   padding-top: 100px;

} 

.testimonials h1{
    
    color: purple;
}



.testimonialsCol{
    
   border-radius: 10px;  
   box-sizing: border-box;
   background-color: purple;
   padding: 30px;  
   flex-basis: 44%;  
   margin-bottom: 5%;
   text-align: center;
   cursor: pointer;
   display: flex;

}


.testimonialsCol img{
    
   height: 60px; 
   margin-left: 5px; 
   margin-right: 30px; 
   border-radius: 50%;  
}
    
    
.testimonialsCol p{
    
    padding: 0;
    text-align: left;  
    
}

.testimonialsCol h3{
    
   margin-top: 15px;  
   text-align: left;
}

/*Call to Action*/


.cta{
    
   margin: 100px auto; 
   width: 80%;  
   background-image: url(../pustimages/banner2.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px; 
   text-align: center;
   padding: 100px 0;

}

.cta h1{
    
   color: purple; 
   margin-bottom: 40px;  
   padding: 0; 
}


/*Footer*/

.footer{

    width: 100%; 
    text-align: center;
    padding: 30px;
}

.footer h4{
    
    margin-bottom: 18px;
    margin-top: 10px;
    font-weight: bold;
    
}

/*Social Media Icons*/

.icons i{
    
    color: purple; 
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;

}

.footer p i.fa-copyright{
    
    color: purple;
    
}

/*Contact*/

.location{
   
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    
   width: 100%; 
    
}

.contactUs{
    
   width: 80%; 
   margin: auto; 
    
}

.contactcol{
    
    flex-basis: 48%;
    margin-bottom: auto;
    
    
}

.contactcol div{
    
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}


.contactcol div h4{
    
   font-size: 20px; 
   margin-bottom: 5px;  
   color: purple; 
   font-size: 400; 

}

.contactcol input, .contactcol textarea{
    
  width: 100%;  
  padding: 15px;  
  margin-bottom: 17px;    
  outline: none;  
  border: 2px solid black;  
  box-sizing: border-box;

}

.contactUs i{
    
    font-size: 28px; 
    color: lightgray;
    margin: 10px;
    margin-right: 30px; 
    cursor: pointer;

}


/*About Us*/

.aboutUS{
    
    width: 80%;
    margin:auto;
    padding-top: 80px; 
    padding-bottom: 50px; 
}


.aboutUsCol{
    
  flex-basis: 48%;  
  padding: 30px 2px;  
  text-align: center;  
    
}

.aboutUsCol img{
    
    width: 100%;
    
}

.aboutUsCol h1{
    color: purple;
    text-align: center;
}

.aboutUsCol p{
    
    text-align: center;
    
}

h1{
    
    margin-top: 40px; 
}


p{
    
  padding: 15px 0px 25px;  
  text-align: center;   
    
}



/*Blog*/

.blogcontent{
    
  width: 80%;  
  margin:auto; 
  padding: 60px 0;  
    
}

.blogleft{
    
 flex-basis: 65%;       
    
}

.blogleft img{
    
  width: 45%;  
  display: block;
  margin:0 auto;
}



.blogleft p{
    
    font-family: 'Arial';   
    
    
}


.blogleft h2{
 
  color: purple;
  font-weight: 600;   
  margin: 30px 0; 
    
}


.blogright{
    
   flex-basis: 32%; 
    
}

.blogright h3{
  
    background: purple;  
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px; 


}

.blogright div{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 8px;
    box-sizing: border-box;
    
}

.commentbox{
   
   width: 60%;
   margin: 20px auto;
   padding: 20px;  
   border: 2px solid #ccc; 
   border-radius: 10px;
   background-color: #f9f9f9;
   box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.commentbox form{
    
   display: flex; 
   flex-direction: column; 
    
}

.commentbox input[type = "text"],
.commentbox input[type = "email"],
.commentbox textarea{
    
   width: 85%; 
   padding: 10px; 
   margin-bottom: 10px; 
   border: 2px solid #ccc; 
   border-radius: 5px; 
   font-size: 14px; 
}

.commentbox input[type="text"]{

     margin-right: 4%;

}


.commentbox textarea{
    
    
    resize: none;
}




.commentbox h3{
   
   color: purple;
   text-align: center;
   font-size: 20px; 
   margin-bottom: 15px;    
}


.commentbox textarea{
    
    resize: none;
    height: 100px;    
    
}

.commentbox .btn{
    
    width: 92%;
    padding: 12px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
   transition: 0.3s;
   cursor: pointer;

}

.commentbox .btn:hover{
    
    background-color: purple;
    
}


/*Mobile View(Responsiveness)*/

/*Mobile Phones*/
@media (max-width: 768px) {
    
    
    
    .textbox h1{
        
        font-size: 1.5em;
    
    }  
    
    .textbox p{
        font-size: 12px;
    }
    
    nav ul li{
        display: block;
    }
    
    .navLinks{
        display: none;
        background-color: #f98b8b;
        width: 200px;
        margin: 0px;
        top: 0px;
        padding: 10px;
        right: 0px;
        z-index: 2px;
        position: absolute;


    }
    .fa-solid.fa-square-xmark{
        display: block;
        color:#e6dede;
        cursor: pointer;
    }

    .fa-solid.fa-bars{
        display: block;
        color:#e6dede;
        cursor: pointer;
    }
 

    .row{
        
        flex-direction: column;    
        
    }
    

    .testimonialsCol img{
        
        margin-left: 0px; 
        margin-right: 15px;
    }
    
    .cta h1{
        
       font-size: 24px; 
        
    }

    .courseCol{
        
        flex-basis: 100%;
    }

    
    .header{
        
      min-height: 80vh;  
        
    }
    

    .subheader{
        
        min-height: 40vh;
        
        
    }
    
    

    }


/*Tablets and Foldables*/

@media (max-width: 1024px){
    
    
    .header{
        
       min-height: 90vh; 
        
    }
    
    
    .subheader{
        
      min-height: 45vh;  
        
        
    }
    

    }



    

