/*General Styling*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', 'sans-serif';
}

/*Header*/
.header {

     width: 100%;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
     position: relative;
     background-image: url("../edufordimages/banner.png");
}

/*Subheader*/

.subheader{
    
    height: 50vh;
    width: 100%;
    background-image: url("../edufordimages/background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: red;


}


/*Navigation Bar*/
nav{
    display: flex;
    padding:2% 6% ;
    justify-content: space-between;
    align-items: center;
   

}

nav ul li{
    list-style: none;
    padding: 8px 6px;
    display: inline-block;
    position: relative;
  

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

nav img{
    width: 150px;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 2px;
    background-color: rgb(181, 52, 52);
    margin: auto;
    display: block;
    transition: 2s;
     
}

nav ul li a:hover::after{
    width: 100%;
}

/*TextBox*/

.textbox{
   
    text-align: center;
    color : white;
    position: absolute;
    transform: translate(-50%, -50%);   
    left: 50%;
    top: 75%;
    width: 90%; 

}

.textbox h1{
    font-size: 3em;
    font-weight: bold;
}

.textbox p{
    font-size: 1em;
    margin-top: 10px;
    color: #fff;
}

/*Button*/

.btn{

   display: flex;
   justify-content: center; 
    color:#fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px auto;
    width:auto; 
    max-width: 200px;
}
 

.btn:hover{
    background-color: #bd4040;
    color: #e6dede;
    border: 2px solid rgb(248, 246, 246);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/*Red Button*/

.redbtn{

  border: 1px solid;
  background: transparent;
  color: red;
  font-weight: bold;
}
    
.redbtn: hover{
    
   color:white; 
    
    
}


/*Hide and Show Menu Icons*/

.fa-solid.fa-square-xmark{
    display: none;

}

.fa-solid.fa-bars{
    display: none;
}

/*Courses*/

.course{
    
  width: 80%;  
  padding-top: 100px;  
  background-color:#e9ecef;   
  text-align: center;
  margin: auto; 
}


.course h1{
    text-align: center;
    font-size: 36px; 
    font-weight: 600;
    
}


.course h3{
    
   font-weight: 600; 
   margin: 10px 0; 
   text-align: center;
    
    
}

p{
    
    font-size: 14px;
    color: black;
    line-height: 22px;
    padding: 10px;

}


.row{
    
   display: flex; 
   justify-content: space-between;
   margin-top: 5%;  

}


.courseCol{
   
   border-radius: 10px;  
   box-sizing: border-box;
   background-color: antiquewhite;
   padding: 20px 12px;  
   flex-basis: 31%;  
   margin-bottom: 5%;
}


.h3{
    
  text-align: center;
  font-weight: 600; 
  margin: 10px 0;  
}



.courseCol:hover{
    
    background-color: red;
    transform: scale(1.05)
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}


/*Campus*/

.campus{
    
   width: 80%; 
   text-align: center; 
   margin: auto; 
   padding: 50px;
}


.campusCol{
    
    flex-basis: 32%;
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative; 
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    
}

.campusCol img{
 
   width: 100%; 
   cursor: pointer;
   display:block;
}

.base{
  
  background: transparent;    
  width: 100%;;  
  position: absolute;
  bottom: 0px;
  left: 0;
  top: 25px;
  height: 100%;
  transition: 0.5s; 

}

.base h3{
    
   width: 100%; 
   font-weight: 500; 
   color: black;
   font-size: 20px; 
   bottom: 0px;
   left: 50%;
   transform: translateX(-50%)
   position: absolute;
   opacity: 0.8;
   transition: 0.8s;


}

.base: hover h3{
    
  bottom: 49%;  
  opacity: 1%;  
  font-weight: bold;
}

/*Facilities*/

.facilities{
    
   width: 80%; 
   margin: auto;  
   text-align: center;
   padding-top: 100px;  
}

.facilitiesCol{

    
   flex-basis: 31%;  
   border-radius: 10px; 
   margin-bottom: 5%;  
   text-align: left; 
 }

.facilitiesCol img{
    
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease,
    box-shadow 0.3s ease, filter 0.3s ease; 

}



.facilitiesCol p{
    
    padding: 0;
}

.facilitiesCol h3{
    
    margin-top: 16px; 
    margin-bottom: 15px; 
    text-align: center;
    
}

/*Testimonials*/

.testimonials{
    
   width: 60%; 
   text-align: center; 
   margin: auto; 
   padding-top: 100px;

} 

.testimonialsCol{
    
   border-radius: 10px;  
   box-sizing: border-box;
   background-color: antiquewhite;
   padding: 30px;  
   flex-basis: 44%;  
   margin-bottom: 5%;
   text-align: center;
   cursor: pointer;
   display: flex;

}


.testimonialsCol img{
    
   height: 60px; 
   margin-left: 5px; 
   margin-right: 30px; 
   border-radius: 50%;  
}
    
    
.testimonialsCol p{
    
    padding: 0;
    text-align: left;  
    
}

.testimonialsCol h3{
    
   margin-top: 15px;  
   text-align: left;
}

/*Call to Action*/


.cta{
    
   margin: 100px auto; 
   width: 80%;  
   background-image: url(../edufordimages/banner2.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px; 
   text-align: center;
   padding: 100px 0;

}

.cta h1{
    
   color: white; 
   margin-bottom: 40px;  
   padding: 0; 
}


/*Footer*/

.footer{

    width: 100%; 
    text-align: center;
    padding: 30px;
}

.footer h4{
    
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
    
}

/*Social Media Icons*/

.icons i{
    
    color: lightcoral; 
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;

}

/*Contact*/

.location{
   
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    
   width: 100%; 
    
}

.contactUs{
    
   width: 80%; 
   margin: auto; 
    
}

.contactcol{
    
    flex-basis: 48%;
    margin-bottom: auto;
    
    
}

.contactcol div{
    
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.contactcol div p{
    
    padding: 0; 

}

.contactcol div h4{
    
   font-size: 20px; 
   margin-bottom: 5px;  
   color: red; 
   font-size: 400; 

}

.contactcol input, .contactcol textarea{
    
  width: 100%;  
  padding: 15px;  
  margin-bottom: 17px;    
  outline: none;  
  border: 2px solid black;  
  box-sizing: border-box;

}

.contactUs i{
    
    font-size: 28px; 
    color: lightgray;
    margin: 10px;
    margin-right: 30px; 
    cursor: pointer;

}


/*About Us*/

.aboutUS{
    
    width: 80%;
    margin:auto;
    padding-top: 80px; 
    padding-bottom: 50px; 
}


.aboutUsCol{
    
  flex-basis: 48%;  
  padding: 30px 2px;  
    
    
}

.aboutUsCol img{
    
    width: 100%;
    
}

.aboutUsCol h1{
    
    text-align: center;
}

.aboutUsCol p{
    
    text-align: center;
    
}

h1{
    
    margin-top: 40px; 
}


p{
    
  padding: 15px 0px 25px;  
  text-align: center;   
    
}


/*Blog*/

.blogcontent{
    
  width: 80%;  
  margin:auto; 
  padding: 60px 0;  
    
}

.blogleft{
    
 flex-basis: 65%;       
    
}

.blogleft img{
    
  width: 100%;  
    
    
}


.blogleft h2{
 
  color: #222;  
  font-weight: 600;   
  margin: 30px 0; 
    
}

.blogleft p{
    
  color:black;
  padding: 0;   
    
}

.blogright{
    
   flex-basis: 32%; 
    
}

.blogright h3{
  
    background: #f44336;  
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px; 


}

.blogright div{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 8px;
    box-sizing: border-box;
    
}

.commentbox{
    
   border: 1px solid #ccc; 
   margin: 5px 0; 
   padding: 10px 20px;
    
}

.commentbox h3{
    
   text-align: left;
    
    
}

.commentbox input, commentbox textarea{
    
    width: 100px;
    padding: 10px;
    margin: 30px; 
    box-sizing: border-box;
    outline: none;
    background: #f0f0f0;
}



/*Mobile View(Responsiveness)*/

@media (max-width: 768px) {

    .textbox h1{
        font-size: 1em;
    
    }  
    
    .textbox p{
        font-size: 0.6em;
    }
    
    nav ul li{
        display: block;
    }
    
    .navLinks{
        display: none;
        background-color: #f98b8b;
        width: 200px;
        margin: 0px;
        top: 0px;
        padding: 10px;
        right: 0px;
        z-index: 2px;
        position: absolute;


    }
    .fa-solid.fa-square-xmark{
        display: block;
        color:#e6dede;
        cursor: pointer;
    }

    .fa-solid.fa-bars{
        display: block;
        color:#e6dede;
        cursor: pointer;
    }
 

    .row{
        
        flex-direction: column;    
        
    }
    

    .testimonialsCol img{
        
        margin-left: 0px; 
        margin-right: 15px;
    }
    
    .cta h1{
        
       font-size: 24px; 
        
    }

    .courseCol {

       width: 100%;
        
    }

    }
    

