*{
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', 'sans-serif';
}

.header {

     width: 100%;
     min-height: 100vh;
     background-image: url('../eduford_img/banner.png');
     background-size: cover;
     background-position: center;
     position: relative;

}


/*Subheader*/

.subheader{
    
    height: 50vh;
    width: 100%;
    background-image: url("../eduford_img/background.jpg");
    background-position: center;
    background-size: cover;
    color: red;  
    position: relative;
    text-align: center; 


}

nav{
    display: flex;
    padding:2% 6% ;
    justify-content: space-between;
    align-items: center;
   

}

nav ul li{
    list-style: none;
    padding: 8px 6px;
    display: inline-block;
    position: relative;
  

}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

nav img{
    width: 150px;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 2px;
    background-color: rgb(181, 52, 52);
    margin: auto;
    display: block;
    transition: 2s;
     
}

nav ul li a:hover::after{
    width: 100%;
}

.textbox{
   
    text-align: center;
    color : white;
    position: absolute;
    transform: translate(-50%, -50%);   
    left: 50%;
    top: 50%;


}

.textbox h1{
    font-size: 3em;
    font-weight: bold;
}

.textbox p{
    font-size: 1em;
    margin-top: 10px;
    color: red;
}

.btn{

    color:#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    position: relative;
    background:none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;

    
}

.btn:hover{
    background-color: #bd4040;
    color: #e6dede;
    border: 2px solid rgb(248, 246, 246);
    transition: 0.5s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/*Red Button*/

.redbtn{

  border: 1px solid;
  background: transparent;
  color: red;
  font-weight: bold;
}
    
.redbtn: hover{
    
   color:white; 
    
    
}


.fa-solid.fa-square-xmark{
    display: none;

}

.fa-solid.fa-bars{
    display: none;
}

/*Courses*/


main{
    
  max-width: 500px;  
 margin: 20px auto; 
       
    
}

.courses{
    
 display: flex;
 flex-direction: column;
 gap: 10px;   
    
    
}

.course-item{
    
  border: 2px solid black;  
  border-radius: 10px;  
  overflow: hidden;
  background-color: white; 


}

.course-btn{
    
 background-color: red;    
 border: none;   
 color: black;   
 font-size: 18px;   
 font-weight: bold;
 width: 100%;   
 padding: 15px;    
 text-align: left;
 cursor: pointer;
 display: flex;
 justify-content: space-between;
 align-items: center;
 transition: background-color 0.3s;

}

.course-btn: hover{
    
   background-color: #f4f4f4;
    
    
}

.course-btn::after{
    
    content: "▼";
    font-size: 18px;
    margin-left: auto;
}

.course-btn.active::after{
    
    content: "▲";
}



.course-list{
    
  display: none;
  padding:  15px; 
  text-align: left;
  font-size: 16px;  
  color: #333;  
  background-color: #fff;  
  border-top: 2px solid black;  


}

.course-list p{
   
    font-size: 16px;
    color: black;
    line-height: 1.5; 
    margin: 10px 0;
}


main{
   
    text-align: center;
    margin-bottom: 20px; 
}

main h1{
    
   font-size: 32px; 
   font-weight: bold;
   color: #333;
   margin-bottom: 10px;
}


main p{
    
  font-size: 18px;   
  color: #555;  
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.5;

}


/*Campus*/

.campus{
    
   width: 80%; 
   text-align: center; 
   margin: auto; 
   padding-top: 100px;
}


.campusCol{

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}



.campusCol img{
 
   width: 100%; 
   cursor: pointer;
   display:block;
   border-radius: 10px;
}

.base{
  
  background: transparent;    
  width: 100%;;  
  position: absolute;
  bottom: 0px;
  left: 0;
  top: 25px;
  height: 100%;
  transition: 0.5s; 

}

.base h3{
    
   width: 100%; 
   font-weight: 500; 
   color: black;
   font-size: 20px; 
   bottom: 0px;
   left: 50%;
   transform: translateX(-50%)
   position: absolute;
   opacity: 0.8;
   transition: 0.8s;


}

.base: hover h3{
    
  bottom: 49%;  
  opacity: 1%;  
  font-weight: bold;
}


/*Facilities*/

.facilities{
    
   width: 80%; 
   margin: auto;  
   text-align: center;
   padding-top: 100px;  
}

.facilities h1{
    
   font-size: 32px; 
   font-weight: bold;
   color: #333;   
   margin-top: 20px; 
}


.facilitiesCol{

   position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.facilitiesCol img{
    
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease,
    box-shadow 0.3s ease, filter 0.3s ease; 

}



.facilitiesCol p{
    
    padding: 0;
}

.facilitiesCol h3{
    
    margin-top: 16px; 
    margin-bottom: 15px; 
    text-align: center;
    
}


/*Testimonials*/

.row{

display: flex;
flex-wrap: wrap;
justify-content: center;;
gap: 20px;
width: 100%;   
}

.testimonials{
    
   width: 60%; 
   text-align: center; 
   margin: auto; 
   padding-top: 100px;

} 

.testimonialsCol{
    
   border-radius: 10px;  
   box-sizing: border-box;
   background-color: antiquewhite;
   padding: 30px;  
   flex-basis: 44%;  
   margin-bottom: 5%;
   text-align: center;
   cursor: pointer;
   display: flex;

}


.testimonialsCol img{
    
   height: 60px; 
   margin-left: 5px; 
   margin-right: 30px; 
   border-radius: 50%;  
   display: block;


}
    
    
.testimonialsCol p{
    
    padding: 0;
    text-align: left;  
    
}

.testimonialsCol h3{
    
   margin-top: 15px;  
   text-align: left;
}

.cta{
    
   margin: 100px auto; 
   width: 80%;  
   background-image: url(../eduford_img/banner2.jpg);
   background-position: center;
   background-size: cover;
   border-radius: 10px; 
   text-align: center;
   padding: 100px 0;

}

.cta h1{
    
   color: white; 
   margin-bottom: 40px;  
   padding: 0; 
}



/*Footer*/

.footer{

    width: 100%; 
    text-align: center;
    padding: 30px;
}

.footer h4{
    
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
    
}

/*Social Media Icons*/

.icons{
    

    margin-top: 10px;

}




.icons a{
    
    color: lightcoral; 
    margin: 0 10px;
    cursor: pointer;
    font-size: 24px;

}

.footer .fa-copyright{
    
    color: lightcoral;
    font-size: 16px;
    vertical-align: middle;

}


/*Contact*/

.location{
    
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px;
    justify-content: center;


}

.location iframe{
    
   width: 100%; 
    
}

.contactUs{
    
   width: 80%; 
   margin: auto; 
    
}

.contactcol{
    
    flex-basis: 48%;
    margin-bottom: auto;
    
    
}

.contactcol div{
    
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.contactcol div p{
    
    padding: 0; 

}

.contactcol div h4{
    
   font-size: 20px; 
   margin-bottom: 5px;  
   color: red; 
   font-size: 400; 

}

.contactcol input, .contactcol textarea{
    
  width: 100%;  
  padding: 15px;  
  margin-bottom: 17px;    
  outline: none;  
  border: 2px solid black;  
  box-sizing: border-box;

}

.contactUs i{
    
    font-size: 28px; 
    color: lightgray;
    margin: 10px;
    margin-right: 30px; 
    cursor: pointer;

}



/*Blog*/

.blogcontent{
    
  width: 80%;  
  margin:auto; 
  padding: 60px 0;  
    
}

.blogleft{
    
 flex-basis: 65%;       
    
}

.blogleft img{
    
  width: 100%;  
    
    
}


.blogleft h2{
 
  color: #222;  
  font-weight: 600;   
  margin: 30px 0; 
    
}


.blogright{
    
   flex-basis: 32%; 
    
}

.blogright h3{
  
    background: #f44336;  
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px; 


}

.blogright div{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 8px;
    box-sizing: border-box;
    
}

.commentbox{
   width: 68%;
   margin: 20px auto;
   padding: 20px; 
   border: 2px solid #ccc; 
   border-radius: 10px;
   background-color: #f9f9f9;
   box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.commentbox h3{
    
   text-align: center;
   font-size: 20px; 
   margin-bottom: 15px;    
}

.commentbox input, commentbox textarea{
    
    width: 100px;
    padding: 10px ;
    margin: 10px 0; 
    background: #f0f0f0;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.commentbox textarea{
    
    resize: none;
    height: 100px;    
    
}

.commentbox button{
    
    width: 100%;
    padding: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
   transition: 0.3s;
   cursor: pointer;

}

.commentbox button:hover{
    
    background-color: #c9302c;
    
}


/*About Us*/

.aboutUS{
    
    width: 80%;
    margin:auto;
    padding-top: 80px; 
    padding-bottom: 50px; 
}


.aboutUsCol{
    
  flex-basis: 48%;  
  padding: 30px 2px;  
  text-align: center;  
    
}

.aboutUsCol img{
    align-items: center;
    width: 50%;
    padding: 20px; 
    justify-content: center;

}

.aboutUsCol h1{
    
    text-align: center;
}

.aboutUsCol p{
    
    text-align: center;
    
}

h1{
    
    margin-top: 40px; 
}


p{
    
  padding: 15px 0px 25px;  
  text-align: center;   
    
}


@media (max-width: 768px) {

    .textbox h1{
        font-size: 1em;
    
    }  
    
    .textbox p{
        font-size: 0.6em;
    }
    
    nav ul li{
        display: block;
    }
    
    .navLinks{
        display: none;
        background-color: #f98b8b;
        width: 200px;
        margin: 0px;
        top: 0px;
        padding: 10px;
        right: 0px;
        z-index: 2px;
        position: absolute;


    }
    .fa-solid.fa-square-xmark{
        display: block;
        color:#e6dede;
        cursor: pointer;
    }

    .fa-solid.fa-bars{
        display: block;
        color:#e6dede;
        cursor: pointer;
    }
    
    .row{
       display: flex; 
       flex-direction: column;
       flex-wrap: no-wrap;
       justify-content: space-between;
    
    }
    
.testimonials{

    padding-top: 50px;
    width: 80%;

}
       
    .testimonialsCol img{
        display: block;
        height: 50px;
        margin: 0 auto;
    
    }
    
    .testimonialsCol{

      flex-direction: column;
      text-align: center;
        
    }
    
    .cta h1{
        
       font-size: 24px; 
        
    }

    .subheader{
        
        font-size: 18px;
        
    }

    main{
        
       width: 80%; 
        
    }

    
    .commentbox{
        
        width: 80%;
        
    }

    


   }



